@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-shade-image {
    background: url('../assets/shade4.png' );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 6em;
    
  }
}